{% extends 'base.html' %}

{% load static socialaccount %}


{% block title %}
      סניפ - תוכן מעולה, בקצרה - Snip
{% endblock %}


{% block header %}
<style>
  body { text-align: center; padding: 150px; direction:rtl }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: center; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>
{% endblock %}


{% block navbar-buttons-lg %}
{% endblock %}
{% block navbar-buttons-sm %}
{% endblock %}

{% block body %}
<article>
    <h1>סניפ פלוס</h1>
    <br>
    <div>
        <p>פרטים נוספים בקרוב...</p>

    </div>
    <br>
    <br>
    <a href="https://www.facebook.com/sniptheweb/"><button class="btn btn-primary">למעבר לדף הפייסבוק</button></a>
</article>
{% endblock %}

{% block footer %}

{% endblock %}




